body {
    height: 100%;
}
.container-fluid{
    height: 100% !important;
    padding: 0;
    background-color: #000;
}
.jumbotron{
    border-radius: 0;
    background-color: #05003f;
}

h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
    color: #FFF;
}
.row{
    margin: 0;
}
.card-deck{
    justify-content: center;
}
