<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SamCalculator</title>
    <title>SamVrombinator</title>
    <link rel="stylesheet" href="{% static "samcalculator/calculs.css" %}" />
    <link rel="icon" type="image/png" href="{% static "samcalculator/img/favico.png" %}" />
    <script src="{% static "samcalculator/main.js" %}"></script>
</head>
<body>
<div id="container"></div>
<script src="{% static "samcalculator/main.js" %}"></script>
</body>
</html>
